<form [formGroup]="frmRegistro">
  <div>
      <label for="nombre">Nombre</label>
      <input type="text" formControlName="nombre" id="nombre">
  </div>
  <div>
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email">
  </div>
  <div>
      <label for="clave">Clave</label>
      <input type="password" formControlName="clave" id="clave">
  </div>
  <div>
      <label for="confirmar">Comfirmar</label>
      <input type="password" formControlName="confirmar" id="confirmar">
  </div>
  <button (click)="registro()"
    [disabled]="!frmRegistro.valid">
      Registrar
  </button>
</form>